*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    display: block;
}

a {
    color: aqua;
    text-decoration: none;
}

body {
    font-size: 150%;
    background-color: #111;
    color: azure;

    display: flex;
    flex-direction: column;
    gap: 15px;

    & header {
        flex-grow: 0;

        display: flex;
        justify-content: center;

        & img.logo {
            height: 110px;
        }
    }

    & main {
        flex-grow: 1;

        width: 700px;
        margin: auto;

        & img.meme {
            margin: auto;
            max-height: 700px;
        }
    }
}

.collection {
    border-top: 3px solid white;
    margin-bottom: 20px;
}

.splash {
    max-width: 360px;
}

.creator {
    font-style: italic;
    text-align: right;
}
