{% extends "index.html" %}

{% block content %}
<h1>Shuttle Memes</h1>
<p><i>Next release on <span style="text-decoration: line-through;">Monday</span> Tuesday</i></p>
<p style="border: 2px dashed yellow; padding: 8px;">⚠️ NOT endorsed by the Shuttle Foundation ⚠️</p>
<h2>Collections</h2>

<div class="collection">
    <a href="/collections/2/memes/1">
        <h3>Shuttle Memes: Static Folder Edition</h3>
        <img src="/static/collections/2/splash.gif" alt="crabs">
    </a>
    <p><i>2023-10-11 - jonaro00</i></p>
</div>

<div class="collection">
    <a href="/collections/1/memes/1">
        <h3>Shuttle Memes: Shuttle Batch 2 Edition</h3>
        <img src="/static/collections/1/splash.gif" alt="nodar">
    </a>
    <p><i>2023-06-27 - jonaro00</i></p>
</div>

<hr>

<a href="https://github.com/jonaro00/shuttle-memes" target="_blank">GitHub</a>⭐
{% endblock %}
