{% extends "index.html" %}

{% block content %}
<h1>Shuttle Memes</h1>
<p><i>Next release on <span style="text-decoration: line-through;">Thursday</span> Monday</i></p>
<p style="border: 2px dashed yellow; padding: 8px;">⚠️ NOT endorsed by the Shuttle Foundation ⚠️</p>
<h2>Collections</h2>

<div class="collection">
    <a href="/collections/10/memes/1">
        <h3>Shuttle Memes: Intensity Edition</h3>
        <img class="splash" src="/static/collections/10/splash.gif">
    </a>
    <p class="creator">2025-07-24 - jonaro00</p>
</div>

<div class="collection">
    <a href="/collections/9/memes/1">
        <h3>Shuttle Memes: Cobra Edition</h3>
        <img class="splash" src="/static/collections/9/splash.jpeg">
    </a>
    <p class="creator">2025-07-18 - jonaro00</p>
</div>

<div class="collection">
    <a href="/collections/8/memes/1">
        <h3>Shuttle Memes: Chewsday Edition</h3>
        <img class="splash" src="/static/collections/8/splash.jpeg">
    </a>
    <p class="creator">2025-02-18 - jonaro00</p>
</div>

<div class="collection">
    <a href="/collections/7/memes/1">
        <h3>Shuttle Memes: Backlog Edition</h3>
        <img class="splash" src="/static/collections/7/splash.jpeg">
    </a>
    <p class="creator">2025-02-18 - jonaro00</p>
</div>

<div class="collection">
    <a href="/collections/6/memes/1">
        <h3>Shuttle Memes: The Meme King Edition</h3>
        <img class="splash" src="/static/collections/6/splash.png">
    </a>
    <p class="creator">2025-02-18 - joshua-mo-143</p>
</div>

<div class="collection">
    <a href="/collections/5/memes/1">
        <h3>Shuttle Memes: Headroom Edition</h3>
        <img class="splash" src="/static/collections/5/splash.gif">
    </a>
    <p class="creator">2024-05-24 - jonaro00</p>
</div>

<div class="collection">
    <a href="/collections/4/memes/1">
        <h3>Shuttle Memes: CCH23 Edition</h3>
        <img class="splash" src="/static/collections/4/splash.gif">
    </a>
    <p class="creator">2024-05-24 - jonaro00</p>
</div>

<div class="collection">
    <a href="/collections/3/memes/1">
        <h3>Shuttle Memes: EuroRust 2023 Edition</h3>
        <img class="splash" src="/static/collections/3/splash.jpg">
    </a>
    <p class="creator">2024-05-23 - jonaro00</p>
</div>

<div class="collection">
    <a href="/collections/2/memes/1">
        <h3>Shuttle Memes: Static Folder Edition</h3>
        <img class="splash" src="/static/collections/2/splash.gif">
    </a>
    <p class="creator">2023-10-11 - jonaro00</p>
</div>

<div class="collection">
    <a href="/collections/1/memes/1">
        <h3>Shuttle Memes: Shuttle Batch 2 Edition</h3>
        <img class="splash" src="/static/collections/1/splash.gif">
    </a>
    <p class="creator">2023-06-27 - jonaro00</p>
</div>

<hr>

<a href="https://github.com/jonaro00/shuttle-memes" target="_blank">GitHub</a>⭐
{% endblock %}
